allure-pytest==2.14.2
allure-python-commons==2.14.2
attrs==25.3.0
decorator==5.2.1
iniconfig==2.1.0
jmespath==1.0.1
packaging==25.0
pluggy==1.6.0
py==1.11.0
Pygments==2.19.1
PyHamcrest==2.1.0
pytest==8.4.0
retry==0.9.2
